@page "/howitsdone"

<h1>Videos</h1>
<h2>Reddit Scraper</h2>
<iframe width="560" height="315" src="https://www.youtube.com/embed/wpCoHEieOxw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<h2>Sending the Posts to the Site</h2>
<iframe width="560" height="315" src="https://www.youtube.com/embed/OhfVBEhMuMA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<h2>
    How To Connect NET Application To Azure SQL WIth No Password - WSB Website Part 3
</h2>
<iframe width="560" height="315" src="https://www.youtube.com/embed/DldrbjWZgro" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>